<html>
<meta http-equiv="refresh" content="7">

<head>
<title>ABC HOSPITAL</title>
<style>
body {
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQnhUwdEuwnt3SA1242VN-NbfgWSNWbHFl8dQ&usqp=CAU');
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;}
</style>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"> </script>


<script>

    $(function() {


   var people = [];

   $.getJSON('  https://api.thingspeak.com/channels/991316/feeds.json?results=1', function(data) {
       $.each(data.feeds, function(i, f) {
          var tblRow = "<tr>" + "<td>" + f.created_at + "</td>" +"<td>" + f.entry_id + "</td>" + "<td>" + f.field6 +"</tr>"

           $(tblRow).appendTo("#userdata tbody");
     });

   });

});
</script>




</head>
<body style="background-color:white;">
<br><br><br><br><br><br><br><br><br><br><br><br>
<center style="color:red">
<h1>PATIENT BOOKING</h1>

</center><br><br><br><br><br><br><
<center>
<h1>PATIENT DETAILS</h1>
<table id= "userdata" border="2">
  <thead>
            <th>Date</th>
            <th>S.no</th>
            <th>NAME</th>



           
             </thead>
    <tbody>
    </tbody>
   </table>
<br><br><br><br><br><br>




  

<center>

<center>
<br>
<br>
<br>

</center>

</body>
</html>